.content {
	figure {
		width: 100%;
		height: 300px;
		background: #bbb;
	}

	.inner {
		width: 1180px;
		min-height: 800px;
		margin: 0px auto;
		padding: 100px 0px 150px;
		position: relative;
		transform: translateY(100px);		
		opacity: 0;
		transition: 1s;

		h1 {
			font: normal 30px/1 'arial';
			color: #777;
			margin-bottom: 50px;
		}
	}

	&.on {
		.inner {
			transform: translateY(0px);
			opacity: 1;
		}
	}
}

@media screen and (max-width: $tablet) {
	.content {
		.inner {
			width: 100%;
			padding: 0px 40px;
		}
	}
}
