nav {
	width: 280px;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.9);
	z-index: 10;

	padding: 50px;

	h1 {
		a {
			img {
				width: 50px;
			}
		}
	}

	#gnb {
		li {
			margin: 40px;
			a {
				color: #fff;
				font-size: 20px;
			}
		}
		.cursor {
			width: 20px;
			height: 20px;
			background: #fff;
			position: fixed;
			border-radius: 50px;
			z-index: 4;
		}
	}
}
